/*----------------------------------背景色-----------------------------------------*/
/*头部背景颜色*//*蓝色按钮颜色*/
.wbc-head, .wbc-blue-button {
    background-color: #18b6b9;
}

/*底部背景颜色*/
.wbc-footer {
    background-color: #fcfcfc;
}

/*主窗口背景颜色*/
.wbc-main {
    background-color: #f4f4f4;
}

/*主窗口中展示信息的模块颜色*//*白色按钮颜色*/
.wbc-info, .wbc-white-button {
    background-color: #ffffff;
}

/*支付相关按钮背景颜色*/
.wbc-pay {
    background-color: #eb6100;
}

/*默认未选中(灰色)按钮背景颜色*/
.wbc-grey-button {
    background-color: #e9e9e9;
}

/*删除按钮背景颜色*/
.wbc-delete {
    background-color: #eb0c0c;
}

/*-----------------------------以上是背景色-----------------------------------------*/
/*-------------------------------字体颜色-----------------------------------------*/
/*基础字体颜色*/
.wbc-text1 {
    color: #222222;/*文字颜色最深*/
}

.wbc-text2 {
    color: #555555;/*文字颜色中深*/
}

.wbc-text3 {
    color: #999999;/*文字颜色最浅*/
}

.wbc-text4{
    color: #18b6b9;/*出现频率较高的蓝色字体*/
}

/*有色背景上的文字颜色*/
.wbc-text-on-color {
    color: #ffffff;
}

/*支付的文字颜色*/
.wbc-text-pay{
    color: #eb6100;
}

/*等待支付的文字颜色*/
.wbc-text-wait-pay{
    color: #eb0c0c;
}
/*-------------------------------以上是字体颜色-----------------------------------------*/
/*----------------------------------边框颜色-----------------------------------------*/

/*白色背景白色模块的边框*/
.wbc-border{
   border-color: #e5e5e5; 
}

/*白色背景彩色模块的边框*/
.wbc-border{
   border-color: #ffffff; 
}


