@charset "UTF-8";
.middle_content ul li{
    padding: 0 .5rem 0 0.3125rem;
    height: 1.4rem;
    line-height: 1.4rem;
    background: #fffdfd;
    border-bottom: 1px solid #eaeaea;
}

.middle_content ul li:nth-child(1){
    margin-top: .5rem;
    border-top: 1px solid #eaeaea;
}

.middle_content ul li:nth-child(4){
    margin-top: 1.4rem;
    border-top: 1px solid #eaeaea;
    text-align: center;
}

.middle_content ul li a{
    display: inline-block;
    width: 100%;
}

.middle_content .touxiang{
    margin-top: 0.14rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius:50%;
}

.middle_content .touxiang img{
    width: 100%;
}