<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnectString" value="server=172.18.19.140;UID=vip_cp;PWD=vip2015;DATABASE=DDHJ_APP;connect timeout=3220"/>
    <!-- 网站请求接口分配的ApiKey -->
    <add key="APIkey" value="appfamilyhas" />
    <!-- 网站请求接口的API密 码 -->
    <add key="APIMD5key" value="amiauhsnehnujiauhz" />
    <!-- 接口有效时间最大值，单位秒-->
    <add key="APIMaxSecond" value="120" />
    <!-- 密码错误锁定账户的次数上限-->
    <add key="MaxLoginPassErrorCount" value="5" />
    <!-- APP手机型号-IOS -->
    <add key="APP_Type_IOS" value="1"/>
    <!-- APP手机型号-Andriod -->
    <add key="APP_Type_Andriod" value="2"/>
    <add key="JYHMD5_key" value="dsgdfkbdkfjdasljf"/>
    <add key="JYHAES_key" value="mgepqfjdrkzdzxwp"/>
    <add key="logfile" value="D:\日志相关\接口" />
    <!-- 项目名称-微信商城 -->
    <add key="Project_WX" value="jyhshop"/>
    <!-- 项目名称-网站 -->
    <add key="Project_WEB" value="webshop"/>
    <!-- 项目名称-一元夺宝 -->
    <add key="Project_YYG" value="yyg_wap"/>
    <!-- 计步请求-->
    <add key="JYHAPI_Step" value="step_sync"/>
    <!-- Api请求地址-->
    <add key="JYHAPI_url" value="http://112.126.93.46:8080/ddhj/api.htm"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.0" />
    <customErrors mode="On"></customErrors>
    <httpRuntime />
  </system.web>
</configuration>
